* {
    box-sizing: border-box;
}


/* TYPOGRAPHY */

@font-face {
    font-family: Montserrat;
    src: url(/font/Montserrat/Montserrat-Regular.ttf);
}


/* BASE */

html {
    font-family: Montserrat, Impact, sans-serif, 'Arial Narrow Bold';
    /* font-size: medium; */
}

body {
    font-size: larger;
    background-color: #e3e3e3;
    margin: 0 auto;
    min-height: 100vh;
}

.main-screen {
    flex-grow: 1;
}

.logo {
    height: 40px;
    margin-inline-start: 1em;
}

.main-header {
    background-color: #ff7f00;
    height: 5rem;
    width: 100vw;
}

.main-manu>* {
    padding: 0 20px;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 1.5em;
    line-height: 5rem;
}

.main-screen {
    height: 100%;
}

.main-manu>*:hover {
    background-color: #8a8a8a;
    cursor: pointer;
}

.main-manu>*:active {
    padding: 0 25px;
    background-color: #633100;
}

.main-manu>*:not(:last-child) {
    border-right: 1px solid #8a8a8a;
}

.meme-editor {
    justify-content: center;
}


/* flex helper */

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.hide {
    display: none;
}

.column {
    flex-direction: column;
}

.search-bar {
    padding: 40px;
    background-color: #ffffff;
}

.search-bar>* {
    margin-left: 20px;
}

.keys-sort>* {
    margin-inline-end: 40px;
    font-family: Montserrat;
}

.img-gallery {
    background-color: #e3e3e3;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px
}

.img-gallery>* {
    width: 100%;
    cursor: pointer;
}

.img-gallery>*:hover {
    border-radius: 5px;
    box-shadow: 0 0 9px 3px #0000006b;
}

.control-panel>* {
    font-size: 2em;
}

a {
    text-decoration: none;
    font-size: inherit;
    color: #ffffff;
}

.control-panel {
    max-width: 400px;
}

footer {
    background: #ff7f00;
    padding: 70px 0;
    text-align: center;
    border-top: 1px solid #e1e0e0;
    color: #ffffff;
    font-family: Montserrat;
    justify-content: center;
    flex-direction: column;
}

footer img {
    height: 20px;
    width: fit-content;
    margin-bottom: 10px;
}

.btn {
    height: 60px;
    min-width: 60px;
    border-radius: 10px;
    border: none;
    background-color: #fff;
    cursor: pointer;
}

.btn img {
    height: 30px;
    object-fit: contain;
}

.keys-serach {
    padding: 10px;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    font-size: 20px;
    min-width: 1.5em;
}


/*editor*/

.canvas-container {
    margin-right: 10px;
}

#main-canvas {
    /* margin: 0px auto; */
    background: rgba(233, 233, 233, 0.966);
    display: block;
    border: 2px solid rgba(44, 44, 44, 0.39);
    box-shadow: 0 0 9px 3px #0000006b;
}

.control-panel {
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 20px;
    grid-template-areas: "txt txt txt txt txt" "up  aleft acenter aright down" ". switch addline trash ." "increase decrease font font font" ". color color color ." "action action action action action";
}

.text-line {
    grid-area: txt;
    margin: 0;
    margin-top: 20px;
    width: max-content;
}

.btn-up {
    grid-area: up;
}

.btn-down {
    grid-area: down;
}

.btn-switch {
    grid-area: switch;
}

.btn-add-line {
    grid-area: addline;
}

.btn-delete-line {
    grid-area: trash;
}

.btn-increase {
    grid-area: increase;
}

.btn-decrease {
    grid-area: decrease;
}

.btn-left {
    grid-area: aleft;
}

.btn-center {
    grid-area: acenter;
}

.btn-right {
    grid-area: aright;
}

.btn-stroke {
    grid-area: strokes;
    color: #121FCF;
}

.btn-fill {
    grid-area: fills;
    margin-left: 10px;
}

.font-select {
    grid-area: font;
}

.actions-btn-container {
    grid-area: action;
    gap: 10px;
}

.color-container {
    grid-area: color;
}


/* s */

.stroke-color,
.fill-color {
    visibility: hidden;
    height: 0;
    width: 0;
}

.fill-color {
    grid-area: fillc;
}

.stroke-color {
    grid-area: strokec;
}

.btn-publish,
.btn-download {
    padding: 0 25px;
    font-family: montesrrat-medium;
    font-size: 1em;
    color: #ffffff;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    background-color: #ff7f00;
}

.btn-download:hover,
.btn-publish:hover {
    background-color: #8a8a8a;
}


/* helpers */

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    margin: 50px 8rem;
}

.grid {
    display: grid;
}

.modal {
    position: absolute;
    text-align: center;
    top: 50vh;
    left: 50vw;
    font-size: 1.5rem;
    transform: translate(-50%, -50%);
    color: rgb(44, 44, 44);
    background-color: rgba(255, 255, 255, 0.808);
    border: 2px solid rgb(44, 44, 44);
    border-radius: 30px;
    height: 200px;
    width: 400px;
}

.modal>.btn {
    font-size: 1.5rem;
    border: 0.5px solid #9d9d9d;
}

.modal h3 {
    margin-bottom: 10px;
}

.modal .close-modal-btn:hover {
    border: 1px solid rgb(255, 0, 0);
    color: rgb(255, 0, 0);
}

.modal .share-btn:hover {
    border: 1px solid rgb(7, 212, 0);
    color: rgb(7, 212, 0);
}

@media (max-width: 700px) {
    .container {
        margin: 0.5rem;
    }
    .meme-editor {
        flex-direction: column;
    }
    .canvas-container {
        margin-right: 10px;
    }
    footer,
    header,
    .search-bar {
        width: 100vw;
    }
    .search-bar {
        flex-direction: column;
    }
    .text-line {
        max-width: 400px;
    }
}

@media (max-width: 500px) {
    .container {
        margin: 0.5rem;
        padding: 1rem 1.5rem;
    }
    .meme-editor {
        flex-direction: column;
    }
    .canvas-container {
        margin: 0 auto;
    }
    .main-manu>* {
        font-size: 1em;
    }
    .text-line {
        max-width: 400px;
    }
}