* {
    box-sizing: border-box;
}

html {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: medium;
}

body {
    font-size: larger;
    background-color: #e3e3e3;
    margin: 0 auto;
}

.logo {
    height: 40px;
    margin-inline-start: 1em;
}

.main-header {
    background-color: #ff7f00;
    height: 5rem;
}

.main-manu>* {
    padding: 0 20px;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 1.5em;
    line-height: 5rem;
}

.main-screen {
    height: 100%;
}

.main-manu>*:hover {
    background-color: #8a8a8a;
    cursor: pointer;
}

.main-manu>*:active {
    padding: 0 25px;
    background-color: #633100;
    /* border-bottom: 6px solid #8a8a8a; */
}

.main-manu>*:not(:last-child) {
    border-right: 1px solid #8a8a8a;
}

.meme-editor {
    justify-content: center;
}

.search-bar {
    padding: 40px;
    background-color: #ffffff;
}

.search-bar>* {
    margin-left: 20px;
}

.keys-sort>* {
    margin-left: 1rem;
    font-size: 1.5rem;
}

.img-gallery>* {
    object-fit: contain;
    max-width: 9em;
}

.img-gallery {
    background-color: #e3e3e3;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 4em;
}

.control-panel>* {
    font-size: 2em;
}

.control-panel {
    max-width: 400px;
}

footer {
    background: #ff7f00;
    padding: 70px 0;
    text-align: center;
    border-top: 1px solid #e1e0e0;
    color: #ffffff;
    font-family: Montserrat;
    justify-content: center;
    flex-direction: column;
}

footer img {
    height: 20px;
    width: fit-content;
    margin-bottom: 10px;
}

.btn {
    height: 1.5em;
    min-width: 1.5em;
    border-radius: 10px;
    background-color: #fff;
    margin-top: 10px;
}

.btn img {
    height: 30px;
    object-fit: contain;
}

.keys-serach {
    padding: 10px;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    font-size: 20px;
}


/*editor*/

.canvas-container {
    margin-right: 10px;
}

#main-canvas {
    /* margin: 0px auto; */
    background: rgba(233, 233, 233, 0.966);
    display: block;
    border: 2px solid rgba(44, 44, 44, 0.39);
    box-shadow: 0 0 9px 3px #0000006b;
}

.control-panel {
    /* display: grid;    */
    /* gap: 10px; */
    justify-items: center;
    grid-auto-columns: 1fr;
}

.text-line {
    margin: 0;
    margin-top: 20px;
    grid-area: txt;
    width: max-content;
}

.btn-up {
    grid-area: up;
}

.btn-down {
    grid-area: down;
}

.btn-switch {
    grid-area: switch;
}

.btn-add-line {
    grid-area: addline;
}

.btn-add-line {
    grid-area: trash;
}

.btn-increase {
    grid-area: increase;
}

.btn-decrease {
    grid-area: decrease;
}

.btn-left {
    grid-area: aleft;
}

.btn-center {
    grid-area: acenter;
}

.btn-right {
    grid-area: aright;
}

.font select {
    grid-area: font;
}

.stroke-color {
    visibility: hidden;
    height: 0;
    width: 0;
}

.fill-color {
    visibility: hidden;
    height: 0;
    width: 0;
}

.btn-publish,
.btn-download {
    display: inline-block;
    color: #c2c2c2;
    border: 2px solid #c2c2c2;
    height: 40px;
    width: 200px;
    line-height: 36px;
    padding: 0 25px;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    margin: 1.25rem 0;
    transition: all .3s;
    font-size: 20px;
}

.btn-publish:hover {
    background: #516fad;
    border-color: #516fad;
    color: #fff;
}

.btn-download:hover {
    background-color: #516fad;
}

a {
    text-decoration: none;
    font-size: inherit;
    color: black;
}

.post-form {
    max-width: 100px;
}


/* helpers */

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    margin: 50px 8rem;
}

.grid {
    display: grid;
}

.modal {
    position: absolute;
    text-align: center;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    color: rgb(44, 44, 44);
    background-color: rgba(255, 255, 255, 0.808);
    border: 2px solid rgb(44, 44, 44);
    padding: 50px 50px;
}

.modal h3 {
    margin-bottom: 10px;
}

.modal .close-modal-btn:hover {
    border: 1px solid rgb(255, 0, 0);
    color: rgb(255, 0, 0);
}

.modal .share-btn:hover {
    border: 1px solid rgb(7, 212, 0);
    color: rgb(7, 212, 0);
}

@media (max-width: 900px) {
    .container {
        margin: 0.5rem;
    }
    .meme-editor {
        flex-direction: row;
    }
    .canvas-container {
        margin-right: 10px;
    }
}

@media (max-width: 850px) {
    .container {
        margin: 0.5rem;
        padding: 1rem 1.5rem;
    }
    .meme-editor {
        flex-direction: column;
    }
    .canvas-container {
        margin: 0 auto;
    }
    .main-manu>* {
        font-size: 1em;
    }
}


/* flex helper */

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.hide {
    display: none;
}